/*

    
    CSS INDEX
    ===================
	
    1. Theme Default CSS (body, link color, section etc)
		1.1 Section Title
		1.2 Scrollup CSS
	2. Header Area CSS
		2.1 Contact Info and Social CSS
		2.2 Landguage bar
	3.  Header Bottom CSS
		3.1 Mainmenu CSS
		3.2 Submenu CSS
		3.3 Megamenu CSS
		3.4 Search
		3.5 Mini Shopping Cart
	4.  Banner Area CSS
		4.2  Banner Text 2
	5.  Page Banner
	5.  Slider Area CSS
	6.  Service Area
		6.2  Service Style Two
		6.3  Service Style Three
	7.  Project Area
	8.  Contact Area
		8.2  Contact Form 2
		8.3  Contact Form 3
		8.4  Contact Form 4
	9.  Contact Box Area
	10. Contact Form Info
	11. Call to Action
	12. Blog Area
		12.2 Blog Style 2
		12.3 Blog Style 3
	13. Blog Details
	14. Blog Comment
	15. Blog Comment Form
	16. Blog Sidebar
	17. Testimonial Area
	17. Blogpost area CSS
	18. Category Banner
	19. Products
		19.1  Product Style 2
		19.2  Product Style 3
	20. Ad Banner
	21. CounterUp Area
	22. Subscribe Area
	23. Projects Gallery
	24. FAQ
	25. Brands
	26. Instragram Photo
	27. Sidebar
	28. Shop Sidebar
	29. Service Details
	30. About
	31. Team
	32. Pagination
	33. Filer Area
	34. Product Details
		34.2 Product Quantity Changer
		34.3 Product Quantity Changer
		34.4 Product Review
		34.4 Product Review
	35. Shopping Cart
	36. Checkout
	37. Gallery Details
	38. 404 Message
	39. Coming Page 
	40. Shopping Order Complete
	41. Animation
	42. Hover Effect
	43. Breadcrumb
	44. Footer Widgets
		44.2 About Widget
		44.3 Twitter Feed
		44.4 Instagram
		44.5 Working Hours
		44.6 Footer Menu
	45. Footer Copyright

-----------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Delius+Swash+Caps|Playfair+Display:400,700,700i|Raleway:400,400i,500,600,700');

/*----------------------------------------*/
/*  1.  Theme default CSS
/*----------------------------------------*/
body {
	font-family: 'Arial', sans-serif;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: "Arial", sans-serif !important;
	font-size:14px;
	line-height:26px;
	color:#636363;
	font-weight:500;
	overflow-x:hidden;
} 
h1, h2, h3, h4, h5, h6 {
  /*font-family:  'Arial', sans-serif;
  font-family: trebuchet ms, sans-serif;*/
  /*font-family: "Arial", sans-serif, serif;*/
  font-family: "Arial", sans-serif !important;
  font-weight:500;
  color: #646567 !important;
}
/*----------------------------------------*/
/*  1.2  Section Title */
/*----------------------------------------*/
.section-title {
	text-align:center;
}
.section-title h2 {
	font-size:32px;
	font-family: "Arial", sans-serif;
	/*text-transform:capitalize;*/
}
.section-title p {
	font-weight: 500;
	font-size: 16px;
	line-height:28px;
	margin: 13px 0 0 0;
}
.section-title.style-2 h2 {
	/*font-family: 'Arial', sans-serif;
	font-family: 'Delius Swash Caps', cursive;*/
	font-family: "Arial", sans-serif;
	font-weight:normal;
	color:#646567;
}
.section-title.style-2 p {
	font-size:15px;
	font-family: "Arial", sans-serif;
	font-weight:500;
}
.section-title.style-3 h3 {
	font-family: "Arial", sans-serif;
	font-weight:normal;
	font-size:28px;
}
.section-title.style-3 p {
	font-size:16px;
	font-weight:500;
}
.section-title.style-4 h2 {
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Arial', sans-serif;
	font-weight:500;
	line-height:normal;
}
/*----------------------------------------*/
/*  1.3  Scrollup CSS */
/*----------------------------------------*/
#scrollUp {
  background-color: #e2022c;
  bottom: 35px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  height: 35px;
  line-height: 34px;
  position: fixed;
  right: 12px;
  text-align: center;
  width: 35px;
  z-index: 9999;
  transition: all 0.7s ease-in-out;
}
/*----------------------------------------*/
/*  2.  Header area CSS
/*----------------------------------------*/
.header-area {
    position: relative;
}
.transparent-header {
	background-color:rgba(0,0,0,.6);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index:99;
}
/*----------------------------------------*/
/*  2.1 Contact Info and Social CSS
/*----------------------------------------*/
.header-top {
	border-bottom:1px solid #e5e5e5;
	background: #e2022c
}
.transparent-header .header-top  {
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.contact-info {}
.contact-info ul {
	margin:0;
	padding:0;
	list-style:none;
}
.contact-info ul li {
	font-size:12px;
	display:inline-block;
	margin-right:20px;
	padding:10px 0;
}
.contact-info ul li:last-child {
	margin-right:0;
}
.transparent-header .contact-info ul li {
	color:#ffffff;
}
.contact-info ul li i {
	margin-right:5px;
	color:#e2022c;
}
.contact-info ul li span {
	margin-left:15px;
}
.contact-info.style-2 {
	text-align:center;
}
.contact-info.style-2 ul li {
	display:block;
	padding:0;
	margin:0;
}
.contact-info.style-2 ul li.contact-phone {
	font-size:24px;
	font-weight:700;
	color:#8bc052;
	margin-bottom:10px;
}
.contact-info.style-2 ul li.contact-email {
	font-size:14px;
}
.contact-info.style-2 ul li.contact-email a {
	color:#636363;
}
.contact-info.style-2 ul li.contact-email a:hover {
	color:#8bc052;
}
.contact-info.style-3 {}
.contact-info.style-3 ul {}
.contact-info.style-3 ul li {
	display:block;
}
.contact-info.style-3 ul li {
	font-size: 14px;
	color: #636363;
	margin: 0 0 11px 0;
	padding: 0;
}
.contact-info.style-3 ul li:last-child {
	margin-bottom:0;
}
.contact-info.style-3 ul li i {
	margin-right:10px;
}
.social-icons a {
	color:#fff;
	margin-right:20px;
	padding:10px 0;
	display:inline-block;
	font-size:15px;
}
.social-icons a:last-child {
	margin-right:0;
}
.social-icons a:hover {
	color:#fff;
}
.transparent-header .social-icons a {
	color:#ffffff;
}
.social-icons.style-2 a {
	font-size:14px;
	width:50px;
	height:50px;
	border:1px solid #e5e5e5;
	border-radius:100%;
	text-align:center;
	line-height:30px;
}
.social-icons.style-2 a:hover {
	background-color:#8bc052;
	border-color:#8bc052;
	color:#ffffff;
}
.social-icons.style-3 {}
.social-icons.style-3 p {
	margin-bottom:0;
}
.social-icons.style-3 a {
	font-size:14px;
	color:#c2c2c2;
	padding:8px 0;
}
.social-icons.style-3 a:hover {
	color:#8bc052;
}
/*----------------------------------------*/
/*  2.2 Landguage bar
/*----------------------------------------*/
.lang-bar {}
.lang-bar ul {
	margin:0;
	padding:0;
	list-style:none;
}
.lang-bar ul li {
	display:inline-block;
	position:relative;
}
.lang-bar ul li span {
	color:#a1a1a1;
	margin-left:5px;
	margin:0 25px;
	display:inline-block;
}
.lang-bar ul li a {
	font-size:12px;
	font-weight:500;
	color:#636363;
}
.transparent-header .lang-bar ul li a {
	color:#ffffff;
}
.lang-bar ul li a i {
	margin-left:5px;
}
.lang-bar ul li:last-child a {
	margin-right:0;
}
.lang-bar ul li ul {
	background-color:#fff;
	box-shadow:0 0 5px 1px rgba(0, 0, 0, 0.1);
	position:absolute;
	top:auto;
	left:auto;
	z-index:999;
	transform:scaleY(0);
	transform-origin:0 0 0;
	transition:.5s;
	border:1px slid #ebebeb;
}
.lang-bar ul li:hover ul {
	transform:scaleY(1);
}
.lang-bar ul li ul li {
	display:block;
}
.lang-bar ul li ul li a {
	display:block;
	padding:5px 25px;
}
.transparent-header .lang-bar ul li ul li a {
	color:#696969;
}
.lang-bar ul li ul li a:hover {
	background-color:#f7f7f7;
}
/*----------------------------------------*/
/*  3.  Header Bottom
/*----------------------------------------*/
.logo {
    padding: 0 0 0 23px;
    
}
.stick {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: #fff;
    -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
    -webkit-animation: 900ms cubic-bezier(0.2, 1, 0.22, 1) 0s normal none 1 running fadeInDown;
    animation: 900ms cubic-bezier(0.2, 1, 0.22, 1) 0s normal none 1 running fadeInDown;
}
.header-bottom.stick {
	background-color:#fff;
	z-index: 9999;
}
.header-bottom.stick .height-100 {
	height:60px;
}
.header-bottom.stick .mainmenu nav > ul > li > a {
	padding: 10px;
}
.header-bottom.stick .cart-link {
	padding:15px 0;
}
.header-bottom.stick .logo {
	padding:10px 10px;
}
.header-bottom.stick .logo img {
	width:150px;
}
/*----------------------------------------*/
/*  3.1 Mainmenu CSS
/*----------------------------------------*/
.mean-container .mean-nav {
    max-height: 380px;
    overflow-y: auto;
	z-index:9999;
}
.mainmenu nav ul {
	margin:0;
	padding:0;
	list-style:none;
}
.mainmenu nav ul li {
	display:inline-block;
}
.mainmenu nav ul li a {
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Arial';
    font-family: 'Arial';
    font-size: 18px;
    /*font-weight: 900;
    text-transform: uppercase;*/
    padding: 25px 9px;
    display: block;
    color: #646567;
}
.mainmenu nav ul li:last-child a {
	padding-right:0;
}
.mainmenu nav ul li a:hover, .transparent-header .mainmenu nav ul li a:hover {
	color:#e0030e;
}
.transparent-header .mainmenu > nav > ul > li > a {
	color:#fff;
}
.transparent-header .header-bottom.stick .mainmenu > nav > ul > li > a {
	color:#111111;
}
.mainmenu.text-right .mega-menu, .mainmenu.full-width-menu .mega-menu  {
	right:0;
	left:unset;
}
/*----------------------------------------*/
/*  3.2 Submenu CSS
/*----------------------------------------*/
.mainmenu nav ul li .submenu {
	border:1px solid #ebebeb;
	background-color:#fff;
	left: auto;
	opacity: 0;
	position: absolute;
	top: auto;
	transition: all 0.5s ease 0s;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 0 0 0;
	width: 180px;
	box-shadow: 0px 36px 76px 0px rgba( 0, 0, 0, .08 );
	z-index: 999;
	text-align:left;
	padding:10px 0;
}
.mainmenu nav ul li .submenu li {
	display:block;
}
.mainmenu nav ul li .submenu li a {
	text-transform:capitalize;
	padding: 5px 0 5px 20px;
	font-weight:500;
}
.mainmenu nav ul li .submenu li a:hover {
	color:#ff0076;
}
.mainmenu nav ul li:hover .submenu, .mainmenu nav ul li:hover .mega-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
/*----------------------------------------*/
/*  3.3 Megamenu CSS
/*----------------------------------------*/
.mega-menu {
	border:1px solid #ebebeb;
	background-color:#fff;
	left: 0;
	opacity: 0;
	position: absolute;
	text-align: left;
	top: auto;
	transition: all 0.5s ease 0s;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 0 0 0;
	z-index: 999;
	box-shadow: 0px 36px 76px 0px rgba( 0, 0, 0, .08 );
	display:table;
}
.megamenu-single {
    display: table-cell !important;
	vertical-align:top;
	padding:30px;
}
.megamenu-single img {
	width:100%;
}
.megamenu-single:last-child {
	border-right:0;
}
.mega-menu-title {
	/*font-family: "Arial", sans-serif, serif;
	font-family: "Arial", sans-serif;*/
	font-family: "Arial";
	font-size: 17px;
	font-weight: 700;
	color:#111111;
}
.mainmenu nav ul li .megamenu-single ul li {
	display:block;
}
.mainmenu nav ul li .megamenu-single ul li:last-child {
	margin-bottom:0;
}
.mainmenu nav ul li .megamenu-single ul li a {
	/*text-transform:capitalize;*/
	padding: 5px 0 5px 0;
	font-weight:500;
}
.mainmenu nav ul li .megamenu-single ul li a:hover {
	color:#ff0076;
}
.mainmenu nav ul li .megamenu-single ul li a i {
	margin-right:15px;
}
/*----------------------------------------*/
/*  3.4 Search
/*----------------------------------------*/
.search-and-cart {
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    align-items: center;
}
.search-box {}
.search-box button {
	background-color:transparent;
	border:0;
}
.search-box button i {
	font-size:16px;
	color:#111111;
	margin-right:30px;
}
.transparent-header .searching-icon {
	color:#fff;
}
.transparent-header .header-bottom.stick .searching-icon, .transparent-header .search-box.active .searching-icon {
	color:#111111;
}
.search {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
.search-form {
  position: relative;
}
.search-place {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scaleX(0);
  transform-origin: right center 0;
  transition: all 0.6s ease 0s;
  visibility: hidden;
  z-index:999;
}
.search-place input {
    background-color: #f7f7f7;
    border: 0;
    width: 100%;
    height: 50px;
    padding: 0 25px;
    font-family: "Arial", sans-serif, serif;
    color: #c2c2c2;
    font-size: 16px;
    width: 300px;
}
.searching-icon {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  transition: all 0.4s ease 0s;
  width: 50px;
  position:relative;
  z-index:9999;
  color:#111111;
}
.search.active .search-place {
  opacity: 1;
  transform: scaleX(1);
  visibility: visible;
}
.search-place > input:focus{}
/*----------------------------------------*/
/*  3.5 Mini Shopping Cart
/*----------------------------------------*/
.cart-link {
	position:relative;
	padding:25px 0;
}
.cart-link a {
	position:relative;
	color:#111111;
}
.container-fluid .cart-link {
	margin-right:10px;
}
.transparent-header .cart-link a {
	color:#ffffff;
}
.transparent-header .header-bottom.stick .cart-link a {
	color:#111111;
}
.cart-link a i {
	font-size:16px;
}
.cart-link a span {
    background-color: #8bc052;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    font-size: 12px;
    font-weight: 700;
    display: block;
    line-height: normal;
    text-align: center;
    position: absolute;
    top: 7px;
    right: -10px;
}
.cart-dropdown {
    background-color: #fff;
    border: 1px solid #ebebeb;
    box-shadow: 0px 20px 76px 0px rgba( 0, 0, 0, .10 );
    width: 370px;
    min-height: 200px;
    transition: .5s;
    transform: scaleY(0);
    transform-origin: top;
    position: absolute;
    top: 100%;
    right: -12px;
    z-index: 9999;
    padding: 30px 30px 0 30px !important;
	text-align:left;
}
.cart-link:hover .cart-dropdown {
	transform:scaleY(1);
}
.cart-dropdown li {
	margin-bottom:30px;
	display:table;
	width:100%;
}
.cart-dropdown li:last-child {
	border-top:1px solid #e5e5e5;
}
.cart-dropdown li div {
	display:table-cell;
	vertical-align:top;
}
.mini-cart-thumb {
	width:70px;
}
.mini-cart-heading {
	padding-left:30px;
}
.mini-cart-heading h5 {
	font-size:16px;
}
.mini-cart-heading h5 a {
	color:#111111;
}
.mini-cart-heading h5 a:hover {
	color:#8bc052;
}
.mini-cart-remove {
	padding-left:15px;
}
.mini-cart-remove button {
	background-color:transparent;
	border:0;
	font-size:14px;
	color:#c2c2c2;
	cursor:pointer;
}
.mini-cart-remove button:hover {
	color:#8bc052;
}
.cart-dropdown li img {
	width:70px;
	float:left;
	margin-right:30px;
}
.cart-dropdown li button {
	float:right;
}
.mini-cart-total h5, .mini-cart-checkout a {
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	font-weight:700;
	color:#636363;
	margin-top:18px;
	margin-bottom:0;
}
.mini-cart-checkout a {
	font-size: 16px;
	float:right;
}
.mini-cart-checkout a:hover {
	color:#8bc052;
}
/*----------------------------------------*/
/*  4.  Banner Area CSS
/*----------------------------------------*/
.banner-area {
	background-color:#f7f7f7;
}
.banner-area.bg-1 {
	background: rgba(0, 0, 0, 0) url("images/banners/1.jpg") no-repeat scroll center center / cover ;
}
.banner-area.bg-2 {
	background: rgba(0, 0, 0, 0) url("images/banners/2.jpg") repeat scroll center center / cover ;
}
.banner-area.bg-3 {
	background: rgba(0, 0, 0, 0) url("images/banners/3.jpg") repeat scroll center center / cover ;
}
.banner-area.bg-4 {
	background: rgba(0, 0, 0, 0) url("images/banners/6.jpg") repeat scroll center center / cover ;
}
.banner-text {
	position:relative;
	z-index:9;
}
.banner-text h2 {
	font-size: 60px;
	font-weight: 700;
	font-family: "Arial";
	line-height: 72px;
	color: #fff;
	margin-bottom: 0;
}
.banner-text p {
	color:#c2c2c2;
	font-size:18px;
	font-weight:500;
}
.video-play {
    border: 2px solid #fff;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    height: 60px;
    line-height: 58px;
    margin-top: 42px;
    width: 60px;
}
/*----------------------------------------*/
/*  4.2  Banner Text 2
/*----------------------------------------*/
.banner-text.style-2 {}
.banner-text.style-2 h3 {
	font-size:24px;
	font-style:italic;
	color:#636363;
	margin-bottom:5px;
}
.banner-text.style-2 h4 {
	font-size:18px;
	font-weight:normal;
	color:#c2c2c2;
	margin-top:27px;
}
.banner-text.style-3 h2 {
	font-family: 'Delius Swash Caps', cursive;
	font-weight: normal;
}
.banner-text.style-3 p {
	color:#636363;
}
.banner-text.style-4 h2 {
	font-family: 'Raleway', sans-serif;
	line-height:normal;
	font-weight:500;
}
/*----------------------------------------*/
/*  5. Page Banner
/*----------------------------------------*/
.page-banner {}
.page-banner-area.bg-1 {
	background: rgba(0, 0, 0, 0) url("images/banner.jpg") repeat scroll center center / cover ;
}
.page-banner-area.bg-2 {
	background: rgba(0, 0, 0, 0) url("images/banners/1.jpg") repeat scroll center center / cover ;
}
.page-banner-area.bg-nosotros {
	background: rgba(0, 0, 0, 0) url("images/banners/nosotros.jpg") repeat scroll center center / cover ;
}
.page-banner-area.bg-3 {
	background: rgba(0, 0, 0, 0) url("images/banners/trafico1.png") repeat scroll center center / cover ;
}
.page-banner-area.bg-4 {
	background: rgba(0, 0, 0, 0) url("images/banners/page-banner-3.jpg") repeat scroll center center / cover ;
}
.page-banner-area.bg-5 {
	background: rgba(0, 0, 0, 0) url("images/banners/page-banner-6.jpg") repeat scroll center center / cover ;
}
.page-banner-area.bg-6 {
	background: rgba(0, 0, 0, 0) url("images/banners/page-banner-5.jpg") repeat scroll center center / cover ;
}
.page-banner-area.bg-7 {
	background: rgba(0, 0, 0, 0) url("images/banners/page-banner-7.jpg") repeat scroll center center / cover ;
}
.page-banner-area.bg-8 {
	background: rgba(0, 0, 0, 0) url("images/banners/salud.jpg") repeat scroll center center / cover ;
}
.page-banner-area.bg-9 {
	background: rgba(0, 0, 0, 0) url("images/banners/1.jpg") repeat scroll center center / cover ;
}
.page-banner-area.bg-personales {
	background: rgba(0, 0, 0, 0) url("images/accidentes-personales.jpg") repeat scroll center center / cover ;
}
.page-banner-area.bg-hogar {
	background: rgba(0, 0, 0, 0) url("images/banners/hogar.png") repeat scroll center center / cover ;
}
.page-banner-area.bg-mascotas {
	background: rgba(0, 0, 0, 0) url("images/banners/mascotas.png") repeat scroll center center / cover ;
}
.page-banner-area.bg-pyme {
	background: rgba(0, 0, 0, 0) url("images/banners/pyme.png") repeat scroll center center / cover ;
}
.page-banner-area.bg-cumplimiento {
	background: rgba(0, 0, 0, 0) url("images/banners/cumplimiento.jpg") repeat scroll center center / cover ;
}
.page-banner-area.bg-maquinaria {
	background: rgba(0, 0, 0, 0) url("images/banners/maquinaria.jpg") repeat scroll center center / cover ;
}
.page-banner-area.bg-construccion {
	background: rgba(0, 0, 0, 0) url("images/banners/construccion.png") repeat scroll center center / cover ;
}
.page-banner-area.bg-civil {
	background: rgba(0, 0, 0, 0) url("images/banners/civil.png") repeat scroll center center / cover ;
}
.page-banner-area.bg-carga {
	background: rgba(0, 0, 0, 0) url("images/banners/mercancia.png") repeat scroll center center / cover ;
}

.page-banner-area.bg-vida {
	background: rgba(0, 0, 0, 0) url("images/banners/vida.png") repeat scroll center center / cover ;
}
.page-banner-area.bg-soat {
	background: rgba(0, 0, 0, 0) url("images/banners/soat.jpg") repeat scroll center center / cover ;
}
.page-banner-area.bg-trafico {
	background: rgba(0, 0, 0, 0) url("images/banners/trafico.jpg") repeat scroll center center / cover ;
}
.page-banner-area.bg-prueba {
	background: rgba(0, 0, 0, 0) url("images/banners/prueba.png") repeat scroll center center / cover ;
}
.page-banner-area.bg-portadasoat {
	background: rgba(0, 0, 0, 0) url("images/banners/portadasoat.png") repeat scroll center center / cover ;
}
.page-banner-area.bg-accidentes {
	background: rgba(0, 0, 0, 0) url("images/banners/accidentes.jpg") repeat scroll center center / cover ;
}

.page-banner-area.bg-exequial {
	background: rgba(0, 0, 0, 0) url("images/banners/exequial.jpg") repeat scroll center center / cover ;
}
.page-banner-area.bg-educativo {
	background: rgba(0, 0, 0, 0) url("images/banners/educativo.jpg") repeat scroll center center / cover ;
}
.page-banner-area.bg-bannerhome {
	background: rgba(0, 0, 0, 0) url("images/banners/bannerhome.jpg") repeat scroll center center / cover ;
}

.page-banner-area.bg-bannertodoriesgo {
	background: rgba(0, 0, 0, 0) url("images/banners/todo_riesgo.jpg") repeat scroll center center / cover ;
}

.page-banner-area.bg-bannertodoriesgo2 {
	background: rgba(0, 0, 0, 0) url("images/banners/todo_riesgo_2.png") repeat scroll center center / cover ;
}
.page-banner-area.bg-camiones {
	background: rgba(0, 0, 0, 0) url("images/banners/camiones.jpg") repeat scroll center center / cover ;
}

.page-banner-area.bg-banneruno {
	background: rgba(0, 0, 0, 0) url("images/banners/banner1.jpg") repeat scroll center center / cover ;
}

.page-banner-area.bg-bannerdos {
	background: rgba(0, 0, 0, 0) url("images/banners/banner2.jpg") repeat scroll center center / cover ;
}

.page-banner-area.bg-bannertres {
	background: rgba(0, 0, 0, 0) url("images/banners/banner3.jpg") repeat scroll center center / cover ;
}

.page-banner-area.bg-bannercuatro {
	background: rgba(0, 0, 0, 0) url("images/banners/banner4.jpg") repeat scroll center center / cover ;
}

.page-banner-area.bg-bannercinco {
	background: rgba(0, 0, 0, 0) url("images/banners/banner5.jpg") repeat scroll center center / cover ;
}
.page-banner-area.bg-bannerempresa {
	background: rgba(0, 0, 0, 0) url("images/banners/empresas_banner.jpg") repeat scroll center center / cover ;
}



.page-banner-text {
	position:relative;
	z-index:9;
}
.page-banner-text h2 {
	font-size:36px;
	margin-bottom:0;
}
/*----------------------------------------*/
/*  6.  Slider Area
/*----------------------------------------*/
.single-slide.bg-1 {
	background: rgba(0, 0, 0, 0) url("images/banners/4.jpg") no-repeat scroll center center / cover ;
}
.single-slide.bg-2 {
	background: rgba(0, 0, 0, 0) url("images/banners/5.jpg") no-repeat scroll center center / cover ;
}
.slider-items.arrow-none .slick-dots {
	bottom:30px;
}
/*----------------------------------------*/
/*  7.  Service Area
/*----------------------------------------*/
.service-area {
	position:relative;
	z-index:999;
}
.sin-service {
	background-color:#fff;
	border:1px solid #ebebeb;
	padding:2px;
	text-align:center;
	font-family: "Arial", sans-serif !important;
	transition:.3s;
}
.sin-service img {
	width:100%;
}
.sin-service i {
	font-size:30px;
	color:#8bc052;
}
.sin-service h3 {
	/*font-family: trebuchet ms, sans-serif;
	font-family: 'Arial', sans-serif;*/
	font-family: "Arial", sans-serif;
	/*font-family: 'Raleway', sans-serif;*/
	font-size:20px;
	font-weight:700;
	color:#646567;
}
.sin-service h3 {
	margin-top:25px;
}
.sin-service h3 a {
	color:#111111
}
.sin-service p {
	font-weight:500;
	font-family: "Arial", sans-serif;
}
.readmore {
	font-size:16px;
	font-weight:700;
	color:#ee1a24;
	text-transform:uppercase;
	border-bottom:1px solid #ee1a24;
}
/*.sin-service:hover {
	box-shadow: 0px 36px 76px 0px rgba( 0, 0, 0, .17 );
}
.sin-service:hover a.readmore {
	color:#ee1a24;
}*?
/*----------------------------------------*/
/*  7.2  Service Style Two
/*----------------------------------------*/
.sin-service.style-2 {
	border:0;
	padding:7px 10px;
}
.sin-service.style-2:hover {
	box-shadow:unset;
}
.sin-service.style-2 i {
	font-size:36px;
	color:#e2032b;
}
.sin-service.style-2 h3 {
	margin-top:12px;
	margin-bottom:6px;
}
/*----------------------------------------*/
/*  8.3  Service Style Three
/*----------------------------------------*/
.sin-service.style-3 {
	border:0;
	border-right:1px solid #e5e5e5;
}
.sin-service.style-3 .service-icon {
	width:auto;
}
.sin-service.style-3:hover .service-icon.d-none {
	display:inline-block !important;
}
.sin-service.style-3:hover .service-icon {
	display:none;
}
.sin-service.style-3 .readmore {
	color:#111111;
	border-bottom-color:#cacaca;
}
.sin-service.style-3:hover {
	background-color:#8bc052;
	color:#111111;
}
.sin-service.style-3:hover .readmore {
	color:#111111;
	border-bottom-color:#6e9842;
}
/*----------------------------------------*/
/*  9.  Project Area
/*----------------------------------------*/
.project-area {}
.single-project {
	position:relative;
}
.single-project img {
	width:100%;
}
.project-desc {
	background-color: rgba(0, 0, 0, .70);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	transform: scale(0);
	transition: .5s;
	padding:42% 50px 0 50px;
}
.single-project.style-2 .project-desc {
	background-color: rgba(139, 192, 82, .90);
	padding-top:25%;
	right:0;
	bottom:0;
	width:85%;
	height:85%;
	margin:auto;
}
.single-project.no-title .project-desc {
	padding-top:53%;
}
.project-desc a {
	color:#fff;
	font-size:24px;
}
.single-project.style-2 .project-desc a {
	font-size:16px;
	color:#111111;
}
.project-desc h3 {
	color:#fff;
	font-size:24px;
	line-height:36px;
	font-weight:700;
}
.single-project.style-2 .project-desc h3 {
	font-size:18px;
}
.single-project:hover .project-desc {
	transform:scale(1);
}
/*----------------------------------------*/
/*  9. Contact Area
/*----------------------------------------*/
.contact-area.bg-1 {
	background: rgba(0, 0, 0, 0) url("images/bg/contact-bg.jpg") repeat scroll center center / cover;
}
.contact-form input, .contact-form select, .contact-form textarea {
  width: 100%;
  border:0;
  border-bottom:1px solid #e5e5e5;
  color:#636363;
}
.contact-form select {
	background-color:transparent;
}
.contact-form input {
    padding: 10px;
    margin-top: 15px;
}
.contact-form select {
    padding: 15px 0;
    margin-top: 14px;
}
.contact-form textarea {
	margin-top:35px;
	min-height:80px;
	resize:vertical;
}
.contact-form.style-1 button {
	margin-top:52px;
}
.contact-form button {
	background-color:transparent;
	border:2px solid #ff0076;
	min-width:180px;
	font-size:14px;
	text-transform:uppercase;
	color:#ff0076;
}
.contact-form button:hover {
	background-color:#ff0076;
	border-color:#ff0076;
}
/*----------------------------------------*/
/*  9.1  Contact Form 2
/*----------------------------------------*/
.contact-form.style-2 {
	background: rgba(0, 0, 0, 0) url("assets/images/bg/contact-2.jpg") repeat scroll center center / cover;
	padding: 52px 90px 60px 90px;
}
.contact-form.style-2 form {
	position:relative;
	z-index:2;
}
.contact-form.style-2 input::placeholder, .contact-form.style-2 textarea::placeholder {
	color:#fff;
}
.contact-form.style-2 input, 
.contact-form.style-2 select, 
.contact-form.style-2 textarea {
	padding:10px 0;
	background-color:transparent;
	border-bottom-color:rgba(255, 255, 255, .10);
	color:#fff;
}
.contact-form.style-2 select option {
	color:#111111;
}
.contact-form.style-2 .btn-common {
	border-color:rgba(255, 255, 255, .40);
	color:#ffffff;
}
.contact-form.style-2 .btn-common:hover {
	background-color:#ff0076;
	border-color:#ff0076;
}
/*----------------------------------------*/
/*  9.2  Contact Form 3
/*----------------------------------------*/
.contact-form.style-3 {
	margin-top:-30px;
}
.contact-form.style-3 input, .contact-form.style-3 textarea {
	background-color:#f7f7f7;
	border:1px solid #ebebeb;
	padding:10px 15px;
	margin-top:30px;
}
.contact-form.style-3 textarea {
	height:130px;
}
.contact-form.style-3 button {
	background-color:#e2032c;
	color:#fff;
	font-size:12px;
	margin-top:25px;
	min-width:180px;
}
.contact-form.style-3 button:hover {
	background-color:#fff;
	border-color:#e2032c;
	color:#010101;
}
/*----------------------------------------*/
/*  9.3  Contact Form 4
/*----------------------------------------*/
.contact-form.style-4 input, .contact-form.style-4 textarea {
	background-color:#ebebeb;
}
/*----------------------------------------*/
/*  10. Contact Box Area
/*----------------------------------------*/
.contact-box-area {
	padding:80px 0;
}
.single-contact-box {
	border:1px solid #ebebeb;
	text-align:center;
	padding:40px 35px;
	transition:.3s;
}
.single-contact-box:hover {
	box-shadow: 12px 21px 45px 0px rgba( 0, 0, 0, 0.15 );
}
.single-contact-box i {
	font-size:20px;
	color:#8bc052;
	margin-bottom:7px;
}
.single-contact-box h4 {
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	margin-bottom:15px;
}
.single-contact-box p {
	margin:0;
}
/*----------------------------------------*/
/*  11.  Contact Form Info
/*----------------------------------------*/
.contact-info h3 {
	font-size:36px;
	margin-bottom:3px;
}
.single-contact-info {
	margin-top:30px;
}
.single-contact-info h4 {
	font-size:18px;
	margin-bottom:13px;
}
.single-contact-info h4 i {
	color:#e2032b;
	margin-right:15px;
}
.single-contact-info p {
	margin:0;
}
/*----------------------------------------*/
/*  12.  Call to Action
/*----------------------------------------*/
.cta-area {
    background-color: #f7f7f7;
    padding: 35px 0 30px 0;
}
.cta-text {}
.cta-text h3 {
	font-family: 'Raleway', sans-serif;
	font-size:24px;
	font-weight:500;
	color:#636363;
}
.cta-text h3  i {
	color:#8bc052;
	margin-right:2px;
}
.cta-text h3 span {
    font-family: "Arial", sans-serif, serif;
    color: #ff0076;
    font-weight: 700;
}
.cta-text p {
	color:#c2c2c2;
	font-weight:500;
}
.cta-btn {
	font-size:12px;
	line-height:48px;
}
.cta-area.bg-2 {
	background: rgba(0, 0, 0, 0) url("assets/images/bg/cta.jpg") repeat scroll center center / cover ;
	padding:93px 0 100px 0;
}
.cta-text.style-2 p {
	font-size:16px;
}
.cta-text.style-2 h2 {
    font-family: 'Delius Swash Caps', cursive;
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 48px;
}
/*----------------------------------------*/
/*  13.  Blog Area
/*----------------------------------------*/
.blog-post-area {}
.single-blog {
	text-align:center;
}
.blog-thumb {
	position:relative;
	transition:.3s;
}
.blog-thumb img {
	width:100%;
}
.blog-thumb .blog-video {
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
    height: 55px;
    width: 55px;
    border: 2px solid #fff;
    border-radius: 100%;
    line-height: 54px;
    text-align: center;
	z-index:99;
}
.blog-thumb::before {
	background-color: rgba(0, 0, 0, 0.15);
}
.blog-thumb::after {
	background-color: rgba(0, 0, 0, 0.15);
}
.blog-desc {
	padding:33px;
	font-weight:500;
}
.blog-desc h3 {
	/*font-family: 'Raleway', sans-serif;
	font-family: 'Arial', sans-serif;*/
	font-family: "Arial", sans-serif;
	font-size:18px;
	font-weight:700;
	line-height:30px;
}
.blog-desc h3 a {
	color:#111111;
}
.single-blog:hover .readmore, .blog-desc h3 a:hover {
	color:#8bc052;
}
.blog-desc .readmore {
	margin-top:5px;
	display:inline-block;
}
/*----------------------------------------*/
/*  13.2  Blog Style 2
/*----------------------------------------*/ 
.single-blog.style-2 {
	text-align:left;
	overflow:hidden;
	margin-bottom:60px;
}
.single-blog.style-2 .blog-thumb {
	float:left;
	width:48%;
}
.single-blog.style-2 .blog-desc {
	width:52%;
	float:left;
	padding:40px 0 0 50px;
}
.single-blog.style-2 .blog-desc h3 {
	font-family: "Arial", sans-serif, serif;
	font-size:24px;
	font-weight:700;
}
.single-blog.style-2 .blog-desc h3 a:hover {
	color:#8bc052;
}
ul.blog-meta {
	margin-bottom:20px;
}
.blog-meta li {
	display:inline-block;
}
.blog-meta li span {
	color: #c2c2c2;
	display: inline-block;
	padding: 0 15px 0 20px;
}
.blog-meta li a {
	color:#c2c2c2;
	font-size:12px;
	font-weight:500;
}
.blog-pagination .btn-common {
	min-width:155px;
	height:40px;
	font-size:12px;
	text-transform:uppercase;
	line-height:40px;
}
.btn-common.btn-left i {
	margin-right:5px;
}
.btn-common.btn-right {
	float:right;
}
.btn-common.btn-right i {
	margin-left:5px;
}
/*----------------------------------------*/
/*  13.3  Blog Style 3
/*----------------------------------------*/ 
.single-blog.style-3 {
	background-color:#f7f7f7;

}
.single-blog.style-3 .blog-thumb {
	position:relative;
}
.single-blog.style-3 .blog-desc {
	padding:5% 5% 1% 3%;
}
.single-blog.style-3 .blog-desc p {
	/*height:80px;*/
	overflow:hidden;
	margin-bottom:0;
	font-family: "Arial", sans-serif;
}
.single-blog.style-3 .blog-desc h3 {
	/*font-family: 'Delius Swash Caps', cursive;*/
	/*font-family: 'sans-serif', cursive;*/
	font-family: "Arial", sans-serif;
	font-weight:normal;
	font-size:24px;
}
.single-blog.style-3 .btn-common {
	margin-top:5px;
}
.single-blog.style-4 .blog-desc p {
	height:102px;
}
.single-blog.text-auto .blog-desc p {
	height:auto;
}
/*----------------------------------------*/
/*  14.  Blog Details
/*----------------------------------------*/
.blog-details {
	padding:0 0 5px 0;
}
.blog-details-title {
	margin-bottom:2px;
}
.blog-details-title h3 {
	font-size:24px;
	font-weight:700;
	color:#1e1e27;
}
.blog-details blockquote {
	font-family: "Arial", sans-serif, serif;
	font-size:20px;
	font-style:italic;
	line-height:32px;
	border-left:3px solid #8bc052;
	color:#636363;
	padding-left:20px;
	margin:15px 0 15px 45px;
}
.blog-details blockquote h5 {
	font-family: 'Raleway', sans-serif;
	font-style:normal;
	font-size:16px;
	font-weight:600;
	color:#111111;
	margin-top:15px;
}
.blog-details blockquote h5 span {
	font-size:14px;
	font-weight:500;
	color:#636363;
}
.blog-tag-social {
	border-top:1px solid #ebebeb;
	padding-top:30px;
}
.comments-list a {
	font-size:14px;
	font-weight:700;
	color:#1e1e27;
}
.comments-list a i {
	margin-right:10px;
}
.comments-list span {
	color:#ebebeb;
	margin:0 30px;
	display:inline-block;
}
.social-icons.style-4 a {
	padding:1px 0;
}
/*----------------------------------------*/
/*  15.  Blog Comment
/*----------------------------------------*/
.blog-comments {
	margin-top:42px;
}
.blog-comments > h4 {
	font-size:18px;
	margin-bottom:22px;
}
.blog-comments ul {}
.blog-comments > ul > li {
	overflow:hidden;
	margin-bottom:40px;
}
.blog-comments ul li ul {
    margin-left: 120px;
    margin-top: 45px;
    display: block;
    overflow: hidden;
    float: left;
}
.comment-avatar {
    width: 8.2%;
    height: 70px;
    float: left;
}
.comment-avatar img {
	border-radius:100%;
	width:100%;
}
.comment-desc {
	float:left;
	width:91.8%;
	padding-left:50px;
}
.comment-desc small {
	font-size:12px;
	font-weight:500;
	color:#c2c2c2;
}
.comment-desc h4 {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: #1e1e27;
	margin-bottom: 4px;
}
.comment-reaction {}
.comment-reaction a {
	font-size:12px;
	font-weight:700;
	color:#111111;
	border:1px solid #e7e7e7;
	margin-right:10px;
	display:inline-block;
	width:80px;
	height:30px;
	text-align:center;
	line-height:30px;
}
.comment-reaction a:hover {
	border-color:#8bc052;
	background-color:#8bc052;
}
/*----------------------------------------*/
/*  16.  Blog Comment Form
/*----------------------------------------*/
.blog-comment-form input, .blog-comment-form textarea {
	width:100%;
	border:1px solid #e7e7e7;
	padding-left:15px;
}
.blog-comment-form input {
	height:50px;
}
.blog-comment-form textarea {
	height:116px;
	resize:vertical;
}
.blog-comment-form .btn-common {
	font-size:12px;
	text-transform:uppercase;
	min-width:150px;
	border:0;
}
/*----------------------------------------*/
/*  17.  Blog Sidebar
/*----------------------------------------*/
.blog-recent-post ul li {
	border-bottom:1px solid #eeeef0;
	padding-bottom:14px;
	margin-bottom:15px;
}
.blog-recent-post ul li:last-child {
	border-bottom:0;
	margin-bottom:0;
}
.blog-recent-post ul li h5 {
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	font-weight:600;
	color:#636363;
	margin-bottom:0;
}
.blog-recent-post ul li small {
	font-size:14px;
	color:#c2c2c2;
}
/*----------------------------------------*/
/*  18.  Testimonial Area
/*----------------------------------------*/
.testimonial-area {
	padding:63px 0 110px 0;
}
.testimonial-area.no-bg {
	padding:0;
}
.testimonial-area.bg-1 {
	background: rgba(0, 0, 0, 0) url("assets/images/bg/testimonial.jpg") repeat scroll center center / cover;
}
.testimonial-area.bg-2 {
	background: rgba(0, 0, 0, 0) url("assets/images/bg/testimonial-2.jpg") repeat scroll center center / cover;
}
.testimonial-area.bg-3 {
	background: rgba(0, 0, 0, 0) url("assets/images/bg/testimonial-3.jpg") repeat scroll center center / cover;
	padding: 30px 0 60px 0;
}
.testimonial-area.bg-3.overlay::before {
	background-color: rgba(0, 0, 0, 0.3);
}
.single-testimonial {
	font-size:20px;
	line-height:32px;
	text-align:center;
	padding-top:20px;
	position:relative;
}
.single-testimonial:focus {
	outline:0;
}
.single-testimonial p {
	font-style:italic;
}
.single-testimonial img {
	border-radius:100%;
	text-align:center;
	display: inline-block;
	margin-bottom:35px;
}
.single-testimonial .quote-icon {
	font-family: "Arial", sans-serif, serif;
	font-size:120px;
	line-height:1;
	color:#8bc052;
}
.single-testimonial h4 {
	font-family: 'Raleway', sans-serif;
	font-size:18px;
	font-weight:700;
	color:#111111;
}
.single-testimonial small {
	font-size:14px;
	color:#c2c2c2;
}
.single-testimonial.style-2 {
	font-size:16px;
	padding:50px 48px 26px 48px;
	color:#111111;
}
.single-testimonial.style-2 > img {
	width:60px;
	height:60px;
	margin-bottom:16px;
}
.single-testimonial.style-2 .testimonial-text {
	margin-top:10px;
}
.single-testimonial.style-2 h4 {
	margin-bottom:0;
	line-height:normal;
}
.single-testimonial.style-3 {
	background-color:#fff;
	border-radius:5px;
	margin:0 15px;
}
.single-testimonial.style-3 small {
	color:#ff0076;
}
.arrow-none .slick-arrow {
	display:none !important;
}
.arrow-none .slick-dots li button:before {
	font-size:12px;
}
.arrow-none .slick-dots {
	bottom:-65px;
}
.testimonial-items.style-2.arrow-none .slick-dots {
	bottom:-57px;
}
.testimonial-items.style-2.arrow-none .slick-dots li button:before {
	color:#ff0076;
}
/*----------------------------------------*/
/*  19. Category Banner
/*----------------------------------------*/
.category-banner-sin, .banner-cat-text {
	position:relative;
}
.category-banner-sin img {
	width:100%;
}
.banner-cat-text {
	z-index:999;
}
.banner-cat-text a {
  background: #fff none repeat scroll 0 0;
  font-family: "Arial", sans-serif, serif;
  font-size:24px;
  font-weight: 700;
  line-height:75px;
  color: #111111;
  display: block;
  position: absolute;
  right: 20px;
  text-align: center;
  text-transform: capitalize;
  bottom: 20px;
  width: 200px;
  height:80px;
}
/*----------------------------------------*/
/*  20.  Products
/*----------------------------------------*/
.single-product {
	text-align:center;
	margin-top:36px;
}
.product-thumb-sin {
	position:relative;
	overflow:hidden;
}
.product-thumb-sin img {
	width:100%;
}
.product-action {
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	transform:scaleY(0);
	transform-origin:bottom;
	transition:.3s;
}
.single-product:hover .product-action {
	transform:scaleY(1);
}
.product-action .add-to-cart {
	background-color:#8bc052;
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	font-weight:700;
	color:#000000;
	display:block;
	text-transform:uppercase;
	padding:10px 0;
}
.product-text {
	margin-top:23px;
}
.product-text h4 {
	font-size:18px;
	font-weight:700;
	line-height:30px;
}
.product-text h4 a {
	color:#111111;
}
.product-text h4 a:hover {
	color:#8bc052;
}
.product-text .product-price {
	font-family: "Arial", sans-serif, serif;
	font-size:20px;
	color:#636363;
}
.product-text .product-price del {
	margin-left:33px;
}
.product-text .product-price del {
	color:#c2c2c2;
}
/*----------------------------------------*/
/*  20.1  Product Style 2
/*----------------------------------------*/
.single-product.style-2 {
	text-align:left;
}
.single-product.style-2 .add-to-cart {
	text-align:center;
}
.single-product .add-to-cart i {
	margin-right:10px;
}
.single-product.style-2 .product-text h4 {
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	font-weight:500;
	margin-bottom:0;
}
.single-product.style-2 .product-text h4 a {
	color:#636363;
}
.product-text .stock-unit {
	display:block;
}
.single-product.style-2 .product-text .stock-unit {
	font-size:14px;
	font-weight:500;
	color:#c2c2c2;
}
.single-product.style-2 .product-text .product-price {
	font-family: 'Raleway', sans-serif;
	font-size:20px;
	font-weight:600;
	color:#111111;
}
/*----------------------------------------*/
/*  20.2  Product Style 3
/*----------------------------------------*/
.single-product.style-3 {
	text-align:left;
}
.single-product.style-3 .product-price {
	margin-bottom:15px;
	display:block;
}
/*----------------------------------------*/
/*  21.  Ad Banner
/*----------------------------------------*/
.ad-banner-sin {
	height:485px;
	padding-top:194px;
}
.ad-banner-sin.bg-1 {
	background: rgba(0, 0, 0, 0) url("images/ad/1.jpg") repeat scroll center center / cover ;
}
.ad-banner-sin.bg-2 {
	background: rgba(0, 0, 0, 0) url("images/ad/2.jpg") repeat scroll center center / cover ;
}
.ad-banner-inner {
	position:relative;
	z-index:999;
}
.ad-banner-inner.pull-right {
	padding-right:12.5%;
}
.ad-banner-inner.pull-left {
	padding-left:7%;
	text-align:right;
}
.ad-banner-sin {
	font-weight:500;
}
.ad-banner-sin h3 {
	font-size:30px;
}
.ad-banner-sin > p {
	margin-top:5px;
}
/*----------------------------------------*/
/*  22.  CounterUp Area
/*----------------------------------------*/
.counterUp-area {
	background:url("images/bg/counterup.jpg");
	background-size:contain;
	padding: 20px 0 20px 0;
	margin-top:30px;
}
.single-counter {
	text-align:center;
}
.count-number {
	font-family: "Arial", sans-serif, serif;
	font-size:48px;
	font-weight:700;
	color:#ff0076;
}
.single-counter h4 {
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	color:#636363;
	margin-top:40px;
}
/*----------------------------------------*/
/*  23.  Subscribe Area
/*----------------------------------------*/
.subscribe-area {
	background-image:url("images/bg/subscribe.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	padding:73px 0 80px 0;
}
.subscribe-area.bg-2 {
	background-image:url("images/bg/subscribe-2.jpg");
	background-size:cover;
}
.subscribe-form {
	text-align:center;
	font-weight:500;
}
.subscribe-form h3 {
	font-size:30px;
}
.subscribe-form p {
	margin-bottom:55px;
}
.subscribe-form input {
	width:68%;
	height:46px;
	border:0;
	padding:0 15px;
	float:left;
}
.subscribe-form button {
	border:0;
	float:left;
}
.subscribe-form.style-2 input {
	background-color:#f7f7f7;
}
.subscribe-form.style-3 {
	position:relative;
}
.subscribe-form.style-3 input {
	background-color:#f7f7f7;
	color:#c2c2c2;
	width:100%;
}
.subscribe-form.style-3 button {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    color: #8bc052;
    padding: 0;
    padding: 10px;
	cursor:pointer;
}
/*----------------------------------------*/
/*  24.  Projects Gallery
/*----------------------------------------*/
.project-nav {
  margin-bottom: 6px;
  text-align: center;
}
.project-nav ul {
	margin:0;
	padding:0;
	list-style:none;
}
.project-nav ul li {
  display: inline-block;
  margin-right:85px;
  font-family: 'Raleway', sans-serif;
  font-size:14px;
  font-weight:700;
  color:#636363;
  text-transform:uppercase;
  cursor:pointer;
}
.project-nav ul li:last-of-type {
	margin-right:0;
}
.project-nav ul li.active {
	color:#8bc052;
}
.project-nav.style-2 {
	margin:5px 0 0 0;
}
.project-nav.style-2 ul li {
	margin-right:30px;
}
.single-project.style-2 {
	padding:5px;
}
.single-project.style-3 {
	padding:0;
}
/*----------------------------------------*/
/*  25. FAQ
/*----------------------------------------*/
.single-faq {
	margin-bottom:5px;
	border-radius:0;
	background-color:#f7f7f7;
	border:1px solid #e9e9e9;
	padding:0 30px;
}
.faq-heading {
    background-color: transparent;
	border-bottom:0;
	padding:0;
}
.faq-heading h5 {
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Arial', sans-serif;
	font-size:16px;
	font-weight:700;
}
.faq-heading h5 a {
	color: #111111;
	font-weight: 600;
	padding: 15px 0 13px 0;
	display: block;
	text-align: left;
	border-bottom:1px solid #e9e9e9;
	white-space:unset;
}
.faq-heading h5 a i {
	color:#e2032b;
}
.faq-heading h5 a[aria-expanded=true] .fa.fa-plus-circle, 
.faq-heading h5 a[aria-expanded=true] .fa.fa-plus { 
  display:none;
}
.faq-heading h5 a[aria-expanded=false] .fa.fa-minus-circle, 
.faq-heading h5 a[aria-expanded=false] .fa.fa-minus { 
  display:none;
}
.faq-heading h5 a[aria-expanded=false] {
	border-bottom:0;
}
.faq-heading h5 a:hover, .faq-heading h5 a:focus {
	text-decoration:none;
	color:#111111;
	border-bottom-color:#e9e9e9;
}
.single-faq .card-body {
	padding:25px 0 10px 0;
}
.faq-section {
    background-color: #f7f7f7;
    border: 1px solid #ebebeb;
    padding: 40px 30px 25px 30px;
}
.single-faq.style-2 {
	padding:0;
	border:0;
	margin-bottom:0;
}
.single-faq.style-2 .faq-heading h5 a {
	border-bottom:0;
}
.single-faq.style-2 .faq-heading h5 a i {
	background-color:#e2032c;
	width:30px;
	height:30px;
	color:#ffffff;
	line-height:30px;
	text-align:center;
	margin-right:15px;
}
.single-faq.style-2 .card-body {
	padding-top:0;
	padding-bottom:0;
}
/*----------------------------------------*/
/*  26.  Brands
/*----------------------------------------*/
.brand-area {
	background-color:#f7f7f7;
}
.brand-items {
	display:table;
	width:100%;
	padding:45px 0;
}
.brand-item {
	display: table-cell;
	vertical-align:middle;
	text-align:center;
}
.brand-item a img.brand-dynamic {
	display:none;
}
.brand-item a:hover img.brand-static {
	display:none;
}
.brand-item a:hover img.brand-dynamic {
	display:inline-block;
}
/*----------------------------------------*/
/*  27. Instragram Photo
/*----------------------------------------*/
.instragram-photos {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.instragram-photo {
    -webkit-box-flex: 0;
    -ms-flex: 14.28571428571429%;
    flex: 14.28571428571429%;
    max-width: 14.28571428571429%;
	position:relative;
	overflow:hidden;
}
.instragram-photo::before {
	background-color:rgba(0, 0, 0, .80);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	content:"";
	visibility:hidden;
	opacity:0;
	transition:.3s;
	z-index:1;
}
.instragram-photo:hover::before {
	visibility:visible;
	opacity:1;
}
.instragram-photo h5 {
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	position:absolute;
	top:30%;
	left:0;
	right:0;
	text-align:center;
	z-index:2;
	margin-top:-7px;
	transition:.3s;
	visibility:hidden;
	opacity:0;
}
.instragram-photo h5 a {
	color:#ffffff;
}
.instragram-photo h5 i {
	margin-right:10px;
}
.instragram-photo:hover h5 {
	top:50%;
	visibility:visible;
	opacity:1;
	z-index:2;
}
.instragram-photo .insta-video {
    font-size: 18px;
    position: absolute;
	top:30%;
	left:0;
	right:0;
    margin: -20px auto auto auto;
    color: #fff;
    height: 40px;
    width: 40px;
    border: 1px solid #fff;
    border-radius: 100%;
    line-height: 40px;
    text-align: center;
    z-index: 99;
	transition:.3s;
	visibility:hidden;
	opacity:0;
}
.instragram-photo:hover .insta-video {
	top:50%;
	visibility:visible;
	opacity:1;
	z-index:2;
}
/*----------------------------------------*/
/*  28. Sidebar
/*----------------------------------------*/
.single-sidebar {
	background-color:#f7f7f7;
	margin-bottom:50px;
}
.single-sidebar.no-bg {
	background-color:transparent;
}
.sidebar-title {
	font-family: 'Raleway', sans-serif;
	font-weight:600;
	font-size:18px;
	border-bottom:1px solid #dedede;
	padding-bottom:25px;
	margin-bottom:30px;
}
.sidebar-title i {
	color:#8bc052;
	margin-right:10px;
}
.sidebar-title.style-2 {
	font-size:24px;
	font-weight:700;
	margin-bottom:0;
	border-bottom:0;
}
.sidebar-menu {
	background-color:transparent;
}
.sidebar-menu ul li a {
    background-color: #f7f7f7;
    color: #111111 !important;
    font-weight: 600;
    font-size: 18px;
    display: block;
    padding: 20px 30px !important;
    margin-bottom: 10px !important;
}
.sidebar-menu ul li a:hover {
	background-color:#8bc052;
}
.sidebar-menu ul li a img {
	margin-right:24px;
}
.sidebar-menu ul li a img.icon-first {

}
.sidebar-menu ul li a img.icon-second {
	display:none
}
.sidebar-menu ul li a:hover img.icon-first {
	display:none;
}
.sidebar-menu ul li a:hover img.icon-second {
	display:inline-block;
}
.blog-list {}
.blog-list li {
	display:block;
	overflow:hidden;
	margin-bottom:30px;
}
.blog-list li img {
    float: left;
    margin-right: 20px;
    width: 80px;
    height: 80px;
}
.blog-list li h5 {
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	line-height:26px;
	font-weight:600;
}
.blog-list li h5 a {
	color:#111111;
}
.blog-list li h5 a:hover {
	color:#8bc052;
}
.blog-list li small {
	font-size:14px;
	color:#c2c2c2;
}
.blog-list li small i {
	margin-right:10px;
}
.document-download {}
.document-download ul {}
.document-download ul li {
	display:block;
}
.document-download ul li a {
	font-size:14px;
	font-weight:600;
	color:#636363;
	margin-bottom:5px;
	display:block;
}
.document-download ul li a i {
	float:right;
	transition:.3s;
}
.document-download ul li a:hover i {
	color:#8bc052;
}
.ad-placeholder {
	position:relative;
}
.ad-placeholder  img {
	width:100%;
}
.adplace-text {
	position:absolute;
	top:40%;
	left:0;
	right:0;
	text-align:center;
	z-index:99;
}
.adplace-text h4, .adplace-text span {
	font-family: 'Raleway', sans-serif;
	font-size:18px;
	color:#ffffff;
	font-weight:700;
}
.adplace-text span {
	color:#c2c2c2;
	margin-top:10px;
}
.adplace-text.style-2 h4 {
	font-family: "Arial", sans-serif, serif;
	font-size:18px;
	font-style:italic;
	color:#111111;
}
/*----------------------------------------*/
/*  29. Sidebar
/*----------------------------------------*/
ul.list-tick {
	margin:0;
	padding:0;
	list-style:none;
}
ul.list-tick li {
	margin-bottom:5px;
}
ul.list-tick li:last-of-type {
	margin-bottom:0;
}
ul.list-tick li:before {
    content: "\f00c";
    font-family: FontAwesome;
    display: inline-block;
    color: #8bc052;
    margin-right: 8px;
}
.single-sidebar {}
.single-sidebar.no-bg h4 {
	margin-bottom:20px;
}
.single-sidebar ul {}
.single-sidebar ul li span {
	float:right;
}
.single-sidebar ul li {
	font-size:14px;
	font-weight:500;
	clear:both;
}
.single-sidebar ul li > i {
	float:left;
	margin: 4px 20px 0 0;
}
.single-sidebar ul li a {
	color:#636363;
	display:block;
	margin-bottom:5px;
}
.single-sidebar.no-bg ul li a {
	float:left;
}
.single-sidebar ul li:last-of-type a {
	margin-bottom:0;
}
.single-sidebar ul li a:hover {
	color:#8bc052;
}
.sidebar-search-box {
	position:relative;
}
.sidebar-search-box input {
    background-color: #f7f7f7;
    border: 0;
    width: 100%;
    height: 50px;
    padding: 0 0 0 60px;
    font-family: "Arial", sans-serif, serif;
    color: #c2c2c2;
    font-size: 16px;
}
.sidebar-search-box button {
	border: 0;
	background-color: transparent;
	position: absolute;
	left: 0;
	top: 0;
	color: #c2c2c2;
}
.sidebar-search-box button i {
    color: #c2c2c2;
    font-size: 16px;
    padding: 15px 30px 15px 25px;
}

.price_filter .ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
  background: #eeeeee none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  height: 3px;
  margin-bottom: 10px;
  margin-left: auto;
}
.price_filter .ui-slider-handle.ui-state-default.ui-corner-all {
	background: #8bc052 none repeat scroll 0 0;
	border: 0 none;
	border-radius: 100%;
	height: 10px;
	top: -4px;
	width: 10px;
}
.price_filter .ui-slider-range {
	background: #8bc052;
	height: 3px;
}
.price_slider_amount label {
	font-size:14px;
	font-weight:500;
	color:#c2c2c2;
	margin-right:5px;
}
.price_slider_amount > input[type="text"] {
	border: 0 none;
	color: #555;
	font-size: 14px;
	font-weight: 600;
	color:#636363;
}
.price_slider_amount > input[type="submit"] {
	height: 40px;
	width: 85px;
	float:left;
}

.product-list {}
.product-list ul {}
.product-list ul li {
	overflow:hidden;
	margin-bottom:25px;
}
.product-list ul li img {
	float: left;
	margin-right: 20px;
	width: 100px;
	height: 100px;
}
.product-list ul li h5 {
	font-size:16px;
	font-weight:700;
	overflow:hidden;
	margin-bottom:0;
}
.product-list ul li h5 a {
	color:#111111;
}
.product-list ul li small {
	display:block;
	font-size:16px;
	color:#636363;
}
.tags-list a {
	background-color:#f1f2f5;
	display:inline-block;
	padding:5px 10px;
	margin-right:3px;
	margin-bottom:10px;
	color:#636363;
	font-weight:500;
}
.tags-list.style-2 a {
	background-color:transparent;
	border:1px solid #e5e5e5;
	font-size:12px;
	text-transform:uppercase;
}
.tags-list a:hover, .tags-list.style-2 a:hover {
	background-color:#8bc052;
	border-color:#8bc052;
	color:#ffffff;
}
.product-view-system ul {
	border-bottom:0;
}
.product-view-system ul li {
	display:inline-block;
}
.product-view-system ul li:first-of-type a {
	margin-right:10px;
}
.product-view-system ul li a.active {
	background: #8bc052;
	border-color:#8bc052;
}
.product-view-system ul li a {
	border: 1px solid #ebebeb;
	color: #111111;
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}
.products-sort {}
.products-sort label, .products-sort select {
	font-family: "Arial", sans-serif, serif;
	font-size:16px;
	color:#c2c2c2;
}
.products-sort select {
	border:0;
	color:#111111;
	min-width:120px;
}
/*----------------------------------------*/
/*  30. Service Details
/*----------------------------------------*/
.service-text-block {
	background-color:#f7f7f7;
	padding:26px 30px 12px 30px;
	border:1px solid #ebebeb;
	border-top:0;
}
.testimonial-block h4 {
	margin-bottom:0;
}
.testimonial-block h5 {
	font-family: 'Raleway', sans-serif;
	font-size:16px;
}
.testimonial-block h5 span {
	font-size:14px;
	font-weight:500;
	color:#636363;
}
.brands-block {
	display:table;
	width:100%;
}
.brands-block a {
    display: inline-block;
    border: 1px solid #ebebeb;
    text-align: center;
    padding: 25px 0;
    margin-right: 10px;
    width: 18.9%;
}
.brands-block a:last-child {
	margin-right:0;
}
.brands-block a:hover {
	background-color:#8bc052;
	box-shadow: 0px 10px 25px 0px rgba( 0, 0, 0, .17 );
}
/*----------------------------------------*/
/*  31. About
/*----------------------------------------*/
.about-text {
	padding:80px 0 0 80px;
	font-size:16px;
	font-weight:500;
	line-height:28px;
}
.about-text h2 {
	font-size:36px;
	font-weight:700;
	margin-bottom:6px;
}
/*----------------------------------------*/
/*  32. Team
/*----------------------------------------*/
.single-team {
	text-align:center;
}
.single-team:hover .team-thumb {
	box-shadow: 0px 36px 76px 0px rgba( 0, 0, 0, .17 );
}
.team-thumb {
	position:relative;
	transition:.3s;
}
.team-thumb::before {
	background-color:rgba(30, 30, 39, .5);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	content:"";
	transition:.3s;
	transform:scaleY(0);
	transform-origin:top;
	visibility:hidden;
	opacity:0;
}
.single-team:hover .team-thumb::before {
	transform:scaleY(1);
	visibility:visible;
	opacity:1;
}
.team-thumb a {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	font-size:30px;
	color:#ffffff;
	margin-bottom:-15px;
	transition:.5s;
	visibility:hidden;
	opacity:0;
}
.single-team:hover .team-thumb a {
	bottom:50%;
	visibility:visible;
	opacity:1;
}
.team-desc {
	padding-top:33px;
}
.team-desc h4 {
	font-size:18px;
	margin-bottom:0;
}
.team-desc small {
	font-size:14px;
	font-weight:500;
	color:#c2c2c2;
}
/*----------------------------------------*/
/*  33. Pagination
/*----------------------------------------*/
.msk-pagination ul {}
.msk-pagination ul li {
	display:inline-block;
}
.msk-pagination ul li a {
	color: #c2c2c2;
	display: block;
	font-family: 'Raleway', sans-serif;
	font-weight:600;
	font-size: 15px;
	height: 46px;
	width: 46px;
	line-height: 46px;
	margin-right: 10px;
	text-align: center;
	border:1px solid #ebebeb;
	transition:.3s;
}
.msk-pagination ul li a:hover, 
.msk-pagination ul li.active a {
	background:#8bc052;
	color:#111111;
}
.msk-pagination ul li a {
	margin-right:10px;
}
.msk-pagination ul li:first-child a, 
.msk-pagination ul li:last-child a {
	width:95px;
}
/*----------------------------------------*/
/*  34. Filer Area
/*----------------------------------------*/
.filter-section {
	background-color:#f7f7f7;
}
.filter-section .single-sidebar {
	padding-top:25px;
	padding-left:30px;
}
/*----------------------------------------*/
/*  35. Product Details
/*----------------------------------------*/
.single-product-details {}
.products-nav-tabs {
	border:0;
}
.products-nav-tabs li a {
	display:block;
	margin-bottom:10px;
}
.single-product-details h2 {
	font-size:30px;
	font-weight:700;
	line-height:42px;
	color:#111111;
}
.product-rating {
	margin-bottom:17px;
}
.product-rating i {
	font-size:13px;
	color:#f5c136;
	margin-right:5px;
}
.product-rating.style-2 {
	margin-top:25px;
}
.product-rating.style-2 h4 {
    float: left;
    margin-right: 10px;
    margin-bottom: 0;
    line-height: normal;
    line-height: 24px;
}
.single-product-details .product-price {
	font-family: "Arial", sans-serif, serif;
	font-size:24px;
	font-weight:700;
	color:#1e1e27;
	margin-bottom:25px;
	display:block;
}
/*----------------------------------------*/
/*  35.2 Product Quantity Changer
/*----------------------------------------*/
.product-quantity-update {
	
}
.product-quantity-update .cart-quantity-changer {
	background-color:#f7f7f7;
	padding:10px 20px;
	height:46px;
	margin-right:10px;
}
.product-quantity-update .cart-quantity-changer input {
	background-color:transparent;
}
.product-quantity-update .cart-quantity-changer a {
	color:#8bc052;
}
/*----------------------------------------*/
/*  35.3 Product Quantity Changer
/*----------------------------------------*/
.product-sku-category table {
	width:100%;
}
.product-sku-category table tr td {
	padding:5px 0;
}
.product-sku-category table tr td:nth-child(1) {
	color:#c2c2c2;
}
.product-sku-category table tr td:nth-child(2) {
	text-align:left;
}
.product-sku-category .social-icons a {
	color:#696969;
	font-size:14px;
}
/*----------------------------------------*/
/*  35.4 Product Review
/*----------------------------------------*/
.product-review-area {
	border-top:1px solid #f7f7f7;
}
.product-review-section ul {
	border-bottom:0;
}
.product-review-section ul li a {
	color:#111111;
	font-size:16px;
	font-weight:700;
	display:block;
	margin-right:40px;
}
.product-review-section ul li a.active {
	color:#c2c2c2;
}
.product-review-desc {
	text-align:left;
}
.product-comments .comment-avatar {
	width:13.7%;
}
.product-comments .comment-avatar img {
	width:70px;
}
.product-comments .comment-avatar .product-rating {
	margin-top:10px;
	margin-bottom:0;
}
.product-comments .comment-desc {
	width:86.3%;
}
.product-comment-form h4 {
    font-family: 'Raleway', sans-serif;
    position: relative;
}
.product-comment-form > h4::before {
	background-color: #e9e9ea;
	height: 1px;
	width: 81%;
	position: absolute;
	top: 50%;
	right: 0;
	content: "";
}
/*----------------------------------------*/
/*  36. Shopping Cart
/*----------------------------------------*/
.cart-table {
	width:70%;
}
.cart-table thead {
	background-color:#f7f7f7;
}
.cart-table thead tr th {
	padding:20px 0;
	color:#111111;
	font-weight:700;
	font-size:16px;
}
.cart-table thead tr th:first-child {
	padding-left:70px;
}
.cart-table tbody {
	border:1px solid #ebebeb;
	border-top:0;
}
.cart-table tbody tr td {
	padding: 15px 30px;
	white-space: nowrap;
}
.cart-table tbody tr:first-child td, .cart-table tbody tr:last-child td {
	padding: 7px 30px;
}
.cart-product-thumb {}
.cart-product-name {}
.cart-product-name h5 {
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	font-weight:500;
}
.cart-product-name h5 a {
	color:#111111;
}
.cart-product-name h5 a:hover {
	color:#8bc052;
}
.cart-product-price {
	font-weight:700;
	font-size:16px;
	color:#111111;
}
.cart-quantity-changer {}
.cart-quantity-changer input {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    width: 100px;
    border: 0;
}
.qtybutton {
	position:relative;
	font-size:0;
	cursor:pointer;
}
a.value-increase::before {
	font-family:FontAwesome;
	font-size:16px;
	content:"\f055";
}
a.value-decrease::before {
	font-family:FontAwesome;
	font-size:16px;
	content:"\f056";
}
.product-remove {
	text-align:center;
}
.product-remove a, .cart-table thead tr th i {
	font-size: 14px;
	color: #111111;
	border: 1px solid #e5e5e5;
	width: 30px;
	height: 30px;
	display: inline-block;
	text-align: center;
}
.cart-table thead tr th i {
	background-color:#8bc052;
	border-color:#8bc052;
	line-height:27px;
}
.cart-update .btn-common {
	height:40px;
}
.cart-coupon input {
    border: 0;
    border-bottom: 1px solid #ebebeb;
    width: 70%;
    height: 40px;
    font-weight: 500;
    color: #696969;
    float: right;
}
.cart-coupon .btn-common {
	margin-left:-4px;
	width:140px;
	height:40px;
	border:0;
	float:right;
}
.cart-total-box {
	border:1px solid #ebebeb;
	margin-top:60px;
	padding-bottom:30px;
}
.cart-total-box table {
	width:80%;
	border-bottom:1px solid #e5e5e5;
	margin:auto;
	text-align:center;
}
.cart-total-box table tr td {
	padding:15px 0;
	font-size:14px;
	font-weight:500;
	color:#636363;
	text-transform:uppercase;
}
.cart-total-box h4 {
	background-color:#f7f7f7;
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	font-weight:700;
	text-align:center;
	padding:15px 10px;
}
.proceed-checkout {
	margin-top:20px;
	text-align:center;
}
.proceed-checkout a {
	color:#636363;
	font-size:14px;
}
.proceed-checkout a:hover {
	color:#8bc052;
}
.proceed-checkout  .btn-common {
	margin-top:35px;
	border:0;
}
/*----------------------------------------*/
/*  37. Checkout
/*----------------------------------------*/
.billing-form {}
.billing-form form {
	border:1px solid #ecedee;
	border-top:0;
	padding:30px 30px 0 30px;
}
.billing-form h4, .sidebar-checkout h4, .order-details h4 {
	background-color:#f7f7f7;
	font-family: 'Raleway', sans-serif;
	text-align:center;
	font-size:16px;
	color:#1e1e27;
	padding:15px 0;
	margin-bottom:0;
}
.billing-form .row {
	margin-bottom:15px;
}
.billing-form label {
    padding: 10px 0;
}
.billing-form input, .billing-form select {
	width:100%;
	border:0;
	border-bottom:1px solid #e5e5e5;
	padding: 10px 10px;
}
.cart-coupon.style-2 {
	padding:30px 30px;
}
.cart-coupon.style-2 input {
	float: left;
	width: 58%;
}
.cart-coupon.style-2 button {
	float: none;
	font-size: 12px;
	min-width: 120px;
	max-width: 60px;
}
.sidebar-checkout {
	border:1px solid #ecedee;
}
.order-details {
	border:1px solid #ecedee;
}
.order-details-inner {
	padding: 0 30px 30px 30px;
}
.order-details table {
	width:100%;
}
.order-details table tr {
	border-bottom:1px solid #e5e5e5;
}
.order-details table tr th, .order-details table tr td strong {
	color:#1e1e27;
	text-transform:uppercase;
}
.order-details table tr td, .order-details table tr th {
    margin: 25px 0 0 0;
	padding-bottom:5px;
    display: inline-block;
}
.order-details table tr td strong {
	text-align:right;
}
.order-details table tr td:nth-child(2), .order-details table tr th:nth-child(2) {
	float:right;
}
.single-payment-gateway {}
.single-payment-gateway label {
	margin-left:20px;
}
.payment-gateway-desc {
	border:1px solid #ebebeb;
	padding:20px;
	margin:5px 0 20px 0;
}
.place-order .btn-common {
	font-size:12px;
}
/*----------------------------------------*/
/*  38. Gallery Details
/*----------------------------------------*/
.slider-for {
	width:73.5%;
	float:left;
	padding-right:1.5%;
}
.slider-for img {
	height:535px;
}
.slider-nav {
	width:24%;
	float:left;
	padding-left:1%;
}
.slider-nav .slick-slide {
	float:none;
	width:auto !important;
}
.single-nav {
	margin-bottom:24px;
	cursor:pointer;
}
.single-nav:focus {
	outline:0;
}
.project-info {
	text-align:center;
}
.project-info p, .project-info h5 {
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	font-weight:700;
	color:#111111;
	text-transform:uppercase;
}
.project-info h5 i {
	color:#8bc052;
	margin-right:15px;
}
.project-info p {
	color:#636363;
	font-weight:500;
	text-transform:inherit;
}
/*----------------------------------------*/
/*  39. 404 Message
/*----------------------------------------*/
.page-404-area {
	height:100vh;
}
.page-404-area.bg-1 {
	background: rgba(0, 0, 0, 0) url("images/404.jpg") repeat scroll center center / cover ;
}
.page-404-msg {
	text-align:center;
	padding-top:100px;
}
.page-404-msg h1 {
	font-size:60px;
	font-weight:700;
	color:#111111;
}
.page-404-msg p {
	font-family: "Arial", sans-serif, serif;
	font-size:18px;
	margin-top:45px;
}
/*----------------------------------------*/
/*  40. Coming Page 
/*----------------------------------------*/
.coming-soon-area {
	background: rgba(0, 0, 0, 0) url("images/bg/coming-soon.jpg") repeat scroll center center / cover ;
	padding:0 0 0 0;
}
.coming-soon-msg h2 {
	font-size:56px;
}
.coming-soon-msg.logo {}
.coming-countdown .cdown {
  float: left;
  width: 25%;
}
.coming-countdown span.time-count {
  color: #111111;
  display: inline-block;
  font-family: "Arial", sans-serif, serif;
  font-size: 48px;
  font-weight: 700;
}
.coming-countdown .cdown p {}
/*----------------------------------------*/
/*  41. Shopping Order Complete
/*----------------------------------------*/
.order-complete-msg {
	text-align:center;
	border:1px solid #ecedee;
	padding:20px;
}
.order-complete-msg h2 {
	font-size:30px;
	font-weight:normal;
}
.order-complete-msg  p {
	font-size:16px;
}
.order-complete-msg  p span {
	color:#8bc052;
	font-weight:700;
}
/*----------------------------------------*/
/*  42. Animation
/*----------------------------------------*/
.banner-text h3 {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
}
.banner-text h4 {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 0.8s;
    animation-duration: 1.2s;
}
.banner-text h2 {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.banner-text p {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
.banner-text a {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1.8s;
    animation-duration: 1.8s;
}
/*----------------------------------------*/
/*  43. Hover Effect
/*----------------------------------------*/
.hover-effect::before, .blog-thumb::before {
  background-color: rgba(255, 255, 255, 0.15);
  content: "";
  height: 0;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  transition: all 0.3s ease-out 0s;
  width: 0;
}
.hover-effect::after, .blog-thumb::after {
  background-color: rgba(255, 255, 255, 0.15);
  bottom: 0;
  content: "";
  height: 0;
  position: absolute;
  right: 0;
  transition: all 0.3s ease-out 0s;
  width: 0;
}
.hover-effect:hover::before, .hover-effect:hover::after, .single-blog:hover .blog-thumb::before, .single-blog:hover .blog-thumb::after {
	width:100%;
	height:100%;
}
/*----------------------------------------*/
/*  44. Breadcrumb
/*----------------------------------------*/
.site-breadcrumb {
	margin:10px 0 0 0;
	padding:0;
	list-style:none;
}
.site-breadcrumb li {
	display:inline-block;
	font-size:16px;
	color:#c2c2c2;
}
.site-breadcrumb li span {
	margin:0 10px;
}
.site-breadcrumb li a {
	color:#fff;
}
.site-breadcrumb.text-black li, .site-breadcrumb.text-black li a {
	color:#696969;
}
/*----------------------------------------*/
/*  45. Google Map
/*----------------------------------------*/
.gmap-one {
	width:100%;
	height:567px;
}
.gmap-two {
	width:100%;
	height:550px;
}
/*----------------------------------------*/
/*  46.  Footer Widgets
/*----------------------------------------*/
.footer-widgets {
	padding: 20px 0 0px 0;
	font-weight:500;
}
.footer-widget h4 {
	font-family: "Arial", sans-serif;
	font-weight:700;
	font-size:18px;
	color:#111111;
	margin-bottom:40px;
}
.footer-widget.style-2 h4 {
	font-family: 'Raleway', sans-serif;
	color:#8bc052;
}
/*----------------------------------------*/
/*  45.2  About Widget
/*----------------------------------------*/
.about-widget {
	font-size:14px;
	font-weight:500;
	line-height:36px;
	margin-top:-15px;
}
/*----------------------------------------*/
/*  44.3  Twitter Feed
/*----------------------------------------*/
.twitter-feed {
	font-weight:500;
	margin-top:-10px;
}
.twitter-feed > ul > li {
	border-bottom:1px solid #d2d2d2;
	padding:20px 0;
}
.twitter-feed > ul > li:first-child {
	padding-top:0;
}
.twitter-feed > ul > li:last-child {
	border-bottom:0;
	padding-bottom:0;
}
.twitter-feed > ul > li p {
	margin-bottom:0;
}
.twitter-feed ul li ul {
	margin-bottom:3px;
}
.twitter-feed ul li ul li {
	color:#c2c2c2;
}
.twitter-feed ul li ul li:first-child {
	margin-left:0;
}
.twitter-feed ul li ul li a {
	color:#636363;
}
.twitter-feed ul li ul li span {
	margin:0 15px;
	display:inline-block;
}
.twitter-feed ul li ul li a i {
	margin-right:5px;
	color:#8bc052;
}
/*----------------------------------------*/
/*  45.4  Instagram
/*----------------------------------------*/
.instagram-imgages {}
.instagram-imgages img {
	padding:5px; width: 85px
}
/*----------------------------------------*/
/*  45.5  Working Hours
/*----------------------------------------*/
.work-hours {
	margin-top:-15px;
}
.work-hours ul li {
	line-height:22px;
	font-family: "Arial", sans-serif;
}
.work-hours ul li:last-child {
	color:#e00310;
}
.work-hours ul li span {
	float:right;
}
/*----------------------------------------*/
/*  45.6  Footer Menu
/*----------------------------------------*/
.fooer-menu {}
.fooer-menu ul {
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}
.fooer-menu ul li {}
.fooer-menu ul li a {
	font-size:14px;
	color:#636363;
	display:block;
	margin-bottom:11px;
}
.fooer-menu ul li:last-child a {
	margin-bottom:0;
}
.fooer-menu ul li a:hover {
	color:#8bc052;
}
/*----------------------------------------*/
/*  46.  Footer Copyright
/*----------------------------------------*/
.footer-copyright {
	background-color:#e0030e;
	text-align:center;
	padding:20px 0;
}
.footer-copyright p {
	font-size:12px;
	line-height:1;
	color:#ffffff;
	margin:0;
}
.copyright-text {
	font-size:14px;
	color:#c2c2c2;
}