/*----------------------------------------*/
/*  1.  Default CSS
/*----------------------------------------*/
a {transition: all 0.3s ease 0s;text-decoration:none;}
a, a:hover {
  color: #e0030e;
  text-decoration: none;
}
a:active, a:hover, a:focus{
  outline: 0 none;
  text-decoration: none;
}
img {max-width:100%;}
/*----------------------------------------*/
/*  Heading CSS
/*----------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}
h1{
  font-size:60px;
  line-height:60px;
}
h2{
  font-size:48px;
  line-height:30px;
}
h3{
  font-size:24px;
  line-height:30px;
}
h4{
  font-size:18px;
  line-height:30px;
}
h5{
	font-size:14px;
	line-height:25px;
}
h6{
  font-size:12px;
  line-height:24px;
}
/*----------------------------------------*/
/*  List None CSS
/*----------------------------------------*/
ul.list-none {
	margin:0;
	padding:0;
	list-style:none;
}
ul.inline-list li {
	display:inline-block;
}
/*----------------------------------------*/
/*  Overlay CSS
/*----------------------------------------*/
.overlay {
	position:relative;
}
.overlay:before {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index:1;
}
/*----------------------------------------*/
/*  Input CSS
/*----------------------------------------*/
input:focus{
  outline:none;
}
textarea:focus{
  outline:none;
}
select:focus{
  outline:none;
}
button:focus{
  outline:none;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity:1;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity:1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity:1;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  opacity:1;
}
/*----------------------------------------*/
/*  Button CSS
/*----------------------------------------*/
.btn-common {
    background-color: #e2032c;
    border: 2px solid #fff;
	  font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff ;
    padding: 0 20px;
    min-width: 100px;
    height: 46px;
    line-height: 44px;
    text-align: center;
	cursor:pointer;
	display:inline-block;
	text-transform:uppercase;
	transition:.3s;
}
.btn-common:hover {
    background-color: #fff;
	  border-color:#fff;
    color: #e2032c;
}
.btn-common.width-180 {
	min-width:180px;
}
.btn-common.width-190 {
	min-width:180px;
}

.btn-common-banner {
    background-color: #e2032c;
    border: 2px solid #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 9px;
    font-weight: 700;
    color: #fff ;
    padding: 0 20px;
    min-width: 100px;
    height: 46px;
    line-height: 44px;
    text-align: center;
  cursor:pointer;
  display:inline-block;
  text-transform:uppercase;
  transition:.3s;
}
.btn-common-banner:hover {
    background-color: #fff;
    border-color:#fff;
    color: #e2032c !important;
}
.btn-common-banner.width-180 {
  min-width:180px;
}
.btn-common-banner.width-190 {
  min-width:180px;
}
.btn-transparent {
	background-color:transparent;
	border:2px solid #89898b;
	color:#ffffff;
}
.btn-transparent:hover {
	background-color:#8bc052;
	border-color:#8bc052;
}
/*----------------------------------------*/
/*  Margin CSS
/*----------------------------------------*/
.mt-02 {margin-top:2px;}
.mt-6 {margin-top:6px;}
.mt-10 {margin-top:10px;}
.mt-15 {margin-top:15px;}
.mt-20 {margin-top:20px;}
.mt-23 {margin-top:23px;}
.mt-25 {margin-top:25px;}
.mt-30 {margin-top:10px;}
.mt-32 {margin-top:32px;}
.mt-33 {margin-top:33px;}
.mt-35 {margin-top:35px;}
.mt-50 {margin-top:50px;}
.mt-53 {margin-top:53px;}
.mt-55 {margin-top:55px;}
.mt-57 {margin-top:57px;}
.mt-40 {margin-top:40px;}
.mt-42 {margin-top:10px;}
.mt-45 {margin-top:45px;}
.mt-60 {margin-top:60px;}
.mt-62 {margin-top:10px;}
.mt-63 {margin-top:63px;}
.mt-65 {margin-top:15px;}
.mt-67 {margin-top:67px;}
.mt-70 {margin-top:70px;}
.mt-72 {margin-top:72px;}
.mt-75 {margin-top:75px;}
.mt-77 {margin-top:77px;}
.mt-85 {margin-top:7px;}
.mt-86 {margin-top:86px;}
.mt-83 {margin-top:83px;}
.mt-90 {margin-top:90px;}
.mt-95 {margin-top:95px;}
.mt-100 {margin-top:20px;}
.mt-105 {margin-top:105px;}
.mt-110 {margin-top:110px;}
.mt-120 {margin-top:120px;}
.mt-122 {margin-top:122px;}
.mt-130 {margin-top:130px;}
.mt-170 {margin-top:170px;}
.mt-200 {margin-top:200px;}

.mb-60 {margin-bottom:35px;}
.mb-45 {margin-bottom:45px;}
.mb-30 {margin-bottom:30px;}
.mb-25 {margin-bottom:25px;}
.mb-20 {margin-bottom:20px;}
.mb-15 {margin-bottom:15px;}

.mr-40 {margin-right:40px !important;}
.mr-30 {margin-right:30px !important;}
.mr-25 {margin-right:25px !important;}
.mlr-30 {margin:0 30px !important}

.ml-20 {margin-left:20px;}

.mt-minus-100 {margin-top:0px;}
.mt-minus-30 {margin-top:-30px;}
.mt-minus-10 {margin-top:-10px;}
.mt-minus-5 {margin-top:-5px;}
.mb-minus-20 {margin-bottom:-20px;}
.mt-minus-25 {margin-top:-25px;}
.mt-minus-58 {margin-top:-58px;}

/* Tablet :768px. */
@media (max-width: 991px) {
	
.sm-mt-0 {margin-top:0 !important;}
.sm-mt-2 {margin-top:2px;}

.sm-mt-10 {margin-top:10px !important;}
.sm-mt-15 {margin-top:15px;}
.sm-mt-25 {margin-top:25px;}
.sm-mt-30 {margin-top:35px;}
.sm-mt-35 {margin-top:35px;}
.sm-mt-37 {margin-top:37px;}
.sm-mt-40 {margin-top:40px;}
.sm-mt-45 {margin-top:45px;}
.sm-mt-50 {margin-top:50px;}
.sm-mt-55 {margin-top:55px;}
.sm-mt-57 {margin-top:57px;}
.sm-mt-58 {margin-top:10px;}
.sm-mt-60 {margin-top:60px;}
.sm-mt-62 {margin-top:62px;}
.sm-mt-63 {margin-top:63px;}
.sm-mt-65 {margin-top:10px;}
.sm-mt-70 {margin-top:70px !important;}
.sm-mt-75 {margin-top:75px;}
.sm-mt-80 {margin-top:20px;}
.sm-mt-100 {margin-top:100px;}

.sm-mb-0 {margin-bottom:0 !important;}

.sm-mt-minus-10 {margin-top:-10px;}

.sm-p-lr-30 {
	padding-left:30px !important;
	padding-right:30px !important;
}

}

/* Mobile :767px. */
@media (max-width: 767px) {

.xs-mt-57 {margin-top:57px;}
.xs-mt-50 {margin-top:50px;}
.xs-mt-55 {margin-top:55px;}
.xs-mt-30 {margin-top:30px;}

}

/*----------------------------------------*/
/*  Padding CSS
/*----------------------------------------*/
.pd-lr15 {padding:0 15px;}
.pd-lr0 {padding:0 0;}
.pt-30 {padding-top:30px;}
.pt-10 {padding-top:10px;}
.pt-15 {padding-top:15px;}
.pt-20 {padding-top:20px;}
.pt-38 {padding-top:38px;}
.pt-60 {padding-top:60px;}
.pt-80 {padding-top:80px !important;}
.pt-90 {padding-top:90px;}
.pt-95 {padding-top:95px;}
.pt-100 {padding-top:100px;}
.pb-80 {padding-bottom:80px;}
.pb-60 {padding-bottom:60px;}
.pb-100 {padding-bottom: 100px !important;}
.pb-110 {padding-bottom: 110px !important;}
.pb-111 {padding-bottom: 111px !important;}
.pd-5 {padding:5px;}
.pd-30 {padding:30px;}
.pd-100 {padding:100px;}
.ptb-75 {padding:75px 0;}
.pt-75 {padding-top:75px;}
.pt-77 {padding-top:77px;}
/*----------------------------------------*/
/*  Height CSS
/*----------------------------------------*/
.height-800 {height:650px}
.height-550 {height:550px}
.height-400 {height:400px}
.height-450 {height:450px}
.height-200 {height:200px}
.height-100 {height:100px}
.width-100p {width:100%;}
.height-100vh {height:100vh;}
/*----------------------------------------*/
/*  7.  Etc CSS
/*----------------------------------------*/
.img-shadow {
	box-shadow: 0px 20px 25px 0px rgba( 0, 0, 0, 0.10 );
}
.img-shadow img {width:100%;}
.img-100p img {width:100%;}
.shadow-none {
	box-shadow:unset!important;
}
.bg-white {
	background-color:#fff;
}
.unrelative {
	position:static;
}
.text-black h1, .text-black h2 {
	color:#111111 !important;
}
.text-white h1, .text-white h2 {
	color:#ffffff !important;
}
.bg-f7 {background-color:#f7f7f7;}
.z-index {
	position:relative;
	z-index:999;
}
.fix {overflow:hidden;}
.table-cell {display:table-cell;}
.display-table {
  display: table;
  height: 100vh;
  width: 100%;
}
.vertical-middle {
  display: table-cell;
  vertical-align: middle;
}
.pull-left {float:left;}
.pull-right {float:right;}